<h1>Tus contactos</h1>

<!-- Listar los contactos y poder navegar al pinchar en uno de ellos al detalle -->

<div *ngFor="let contacto of listaRandomContacts; let i=index">
  <div routerLink="{{contacto.id.name}}" [state]="{data: contacto, filtro: filtroSexo}">  <!--  También se puede incorporar detras de id}}" ....-->
    <h6 class="contacto">
      {{contacto.name.first}}
      {{contacto.name.last}}
     </h6>
    <button (click)="volverHome(contacto)">Seleccionar como amigo Invisible</button>
  </div>
</div>

<ng-container *ngIf="filtroSexo == 'female' || filtroSexo=='male';else completo">
  <p>Mostrando lista filtrada por: "{{filtroSexo}}"</p>
</ng-container>

<ng-template #completo>
  <p>Mostrando lista de contactos completa</p>
</ng-template>

<a routerLink="/dashboard">Volver</a>
